$white:               			#ffffff;
			
$nav_gradient_top:    			#92c572;
$nav_gradient_bot:    			#477a2e;

$nav_gradient_highlight_top:    #645694;
$nav_gradient_highlight_bot:    #3d3063;

$nav_gradient_alternate_top:	#f0a929;
$nav_gradient_alternate_bot:	#e48a37;
$nav_footer_gradient_bot: 		#1e1244;

$header_text: 					#2d1d64;

$site_border:					#dddddd;
$background_accent:				#e8f2e3;