$white:                           #ffffff;
            
$c1_grey:                         #40464a;
$c2_grey:                         #606c74;
$c3_blue:                         #7bcbd7;
$c3_darkblue:                     #6AB9C5;
$c4_grey:                         #d5dde3;
$c5_yellow:                       #febc11;
$c6_red:                          #fe252d;
$c7_grey:						  #606c74;
$c8_grey:						  #e8ebec;
$c9_grey:						  #dddddd;

$light_grey: #f8f8f8;
$light_blue:                      #f5fbfc;
$pagination_background:	 		  #f1f1f1;
$hover_blue:                      #4c7e8e;
$hover_orange:                    #daa10f;
$nav_gradient_alternate_top:      #7ccbd8;
$nav_gradient_alternate_bot:      #3996a4;
