$white:               #ffffff;
$light_grey:          #f4f6f5;
$grey:                #e1e3e2;
$medium_grey:         #ced0cf;
$dark_grey:           #404040;
$light_charcoal:      #aaaaaa;
$charcoal:            #7e807f;
$dark_purple:         #562b6e;
$darker_purple:       #432952;
$purple_text:         #c3b5cb;
$light_purple:        #876799;
$lightest_teal:       #27d6dc;
$light_teal:          #04abb5;
$teal_text:           #c2f4f6;
$orange:              #fcdd0d;
$dark_orange:         #ffc527;
$purple_accent:       #9471a8;
$teal_accent:         #5be5eb;
$dark_orange_accent:  #fee97b;
$orange_text:         #fdf8d5;
$os0:                 #e74e32;
$os1:                 #fc8900;
$os2:                 #ffc527;
$os3:                 #ffc527;
$os4:                 #ffc527;
$label_color:		  #307c89;