$white:                           #ffffff;
            
$c1_grey:                         #40464a;
$c2_grey:                         #606c74;
$c3_blue:                         #7bcbd7;
$c4_grey:                         #d5dde3;
$c5_yellow:                       #febc11;

$hover_blue:                      #4c7e8e;
$hover_orange:                    #daa10f;

$nav_gradient_alternate_top:      #7ccbd8;
$nav_gradient_alternate_bot:      #3996a4;

$login_bg:                        #424242;
$login_box:                       #818286;
$login_blue:                      #7bcbd7;